html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    flex: 0;
    width: 100px;
}


.selection {
    display: flex;
    justify-content: center;

}


.outcome {
    display: flex;
    justify-content: center;
}
.score {
    display: flex;
    justify-content: center;

}

.score div {
    display: flex;
    border-style: solid;
    border-color: pink;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 100px;;
}

.ChoiceContainer{
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;

}

.selection, .score {
    gap: 40px;
    margin: 20px;
}